.top-cart {
  height: 400px;
  background-image: url(imgcart/topcart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  margin-top: 127px;
  color: #FFFFFF;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__image {
  height: 173px;
  width: 173px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__name {
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.cart__text {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__link-text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.cart__link-del {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
  margin-left: 30px;
}
.cart__amount {
  border-radius: 6px;
  border: none;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
}
/* .cart__content {
  grid-column: span 8;
} */
.cart__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__order-form {
  width: 288px;
  height: 143px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 64px;
  margin-left: 27px;
}
.cart__order-text::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__order-text::placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__order-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background: none;
}
.cart__sum-text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__batton {
  font-family: "Montserrat";
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  width: 290px;
  height: 49px;
  margin-top: 18px;
  margin-left: 45px;
  background-color: transparent;
  font-size: 16px;
}
.cart__push-batton1 {
  width: 200px;
  height: 37px;
  left: 121px;
  top: 983px;
  color: rgb(2, 2, 2);
  font-family: Montserrat;
  border: 1px solid rgb(4, 4, 4);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
}
.cart__push-batton2 {
  width: 200px;
  height: 37px;
  left: 121px;
  top: 983px;
  color: rgb(2, 2, 2);
  font-family: Montserrat;
  border: 1px solid rgb(4, 4, 4);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  margin-left: 7px;
}

.product__icon-basket {
  position: absolute;
  margin-left: 300px;
  margin-top: 13px;
  width: 20px;
  width: 18.17px;
  height: 21.08px;
}
.product__icon-like {
  position: absolute;
  margin-left: 347px;
  margin-top: 13px;
  width: 20px;
}/*# sourceMappingURL=_cart.css.map */