@media(max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for {
        &__item{
            height: 268px;
        }
    }

    .product-box__wrapper {
        column-gap: 29px;
        row-gap: 39px;
    }


    .footer__logo {
        display: none;
    }



    .cart{
        display: grid;
        grid-template-columns: min-content;
        gap: 90px;

        &__batton {    
            width: 289px;
            height: 41px;
        }

        &__push-batton2 {
        color: #FFFFFF;
        background-color: black;

        }

    }













}

@media (min-width: 768px) and (max-width: 833px) {
   .center {
    padding-left: 24px;
    padding-right: 24px;
   }

   .product {
    width: 345px;
    }



    .cart {
        grid-template-columns: max-content;


        &__content {
            grid-column: span 4
        }

        &__form {
            grid-column: span 2;
        }


        &__batton {    
            width: 289px;
            height: 41px;
        }

        &__push-batton2 {
        color: #FFFFFF;
        background-color: black;
        }



     }
     




    

}







